@import "./variables.scss";

.d {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }

  &-inline-block {
    display: inline-block;
  }
  &-none {
    display: none;
  }
}

.p {
  &-relative {
    position: relative;
  }
  &-absolute {
    position: absolute;
  }
}

.overflow {
  &-hidden {
    overflow: hidden;
    &-x {
      overflow-x: hidden;
    }
  }
  &-scroll {
    overflow: scroll;
    &-y {
      overflow-x: hidden;
    }
  }
  &-auto {
    overflow: auto;
  }
}

.vh-100 {
  height: 100vh;
}

.lh {
  &-1 {
    line-height: 1;
  }
  &-4 {
    line-height: 4rem;
  }
  &-8 {
    line-height: 0.8;
  }
  &-17 {
    line-height: 1.7;
  }
  &-24 {
    line-height: 24px;
  }
  &-26 {
    line-height: 26px;
  }
  &-34 {
    line-height: 24px;
  }
}

.bb {
  &-white {
    border-bottom: 1px solid $white;
  }
  &-lightdarken {
    border-bottom: 1px solid $lightDark;
  }
  &-dark {
    border-bottom: 1px solid $black;
  }
}

.b {
  &-dark {
    border-color: $black;
  }
  &-traced {
    border: 1px solid $gray;
    border-style: dashed;
  }
}

.bw {
  &-3 {
    border-width: 3px;
  }
  &-4 {
    border-width: 4px;
  }
}

.fs {
  &-0 {
    font-size: 4rem;
  }
  &-1 {
    font-size: 3rem;
  }
  &-2 {
    font-size: 2.5rem;
  }
  &-3 {
    font-size: 2rem;
  }
  &-4 {
    font-size: 1.6rem;
  }
  &-5 {
    font-size: 1.3rem;
  }
  &-6 {
    font-size: 1rem;
  }
  &-7 {
    font-size: 0.9rem;
  }
  &-8 {
    font-size: 0.8rem;
  }
}

.fs-px {
  &-12 {
    font-size: 12px;
  }
  &-16 {
    font-size: 16px;
  }
  &-24 {
    font-size: 24px;
  }
  &-36 {
    font-size: 36px;
  }
}

.color {
  &-dark {
    color: $black;
  }

  &-white {
    color: $white;
  }

  &-primary {
    color: $primary;
  }

  &-danger {
    color: $danger;
  }
  &-success {
    color: $success;
  }
  &-lighter {
    color: $light;
  }
  &-lighterDarken {
    color: $lightDark;
  }
  &-gray {
    color: $gray;
  }
  &-lightbrown {
    color: $lightbrown;
  }
}

.background {
  &-imaged {
    background-position: center;
    background-size: cover;
  }
  &-dark {
    background: $black;
  }

  &-blue {
    background: $blue;
  }

  &-white {
    background: $white;
  }
  &-lighter {
    background: $light;
  }
  &-gray {
    background: $gray;
  }
  &-silver {
    background: $silver;
  }
  &-danger {
    background: $danger;
  }
  &-success {
    background: $success;
  }

  &-transparent {
    background: transparent;
  }
  &-lightbrown {
    background: $lightbrown;
  }
  &-theme {
    background: $theme;
  }
}

.fw {
  &-lighter {
    font-weight: lighter;
  }
  &-bold {
    font-weight: bold;
  }
  &-normal {
    font-weight: normal;
  }
  &-300 {
    font-weight: 300;
  }
  &-600 {
    font-weight: 600;
  }
}

.tt {
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalcase {
    text-transform: capitalize;
  }
}

.p {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

.no-border {
  border: 0;
}

.no-p {
  padding: 0 !important;
}

.br {
  &-5 {
    border-radius: 5px;
  }
  &-50 {
    border-radius: 50%;
  }
}

.n-br {
  border-radius: 0px;
}

.h-100 {
  height: 100%;
}

.o-0 {
  opacity: 0;
}

.tooltip {
  position: relative;
  overflow: hidden;
  &:after {
    transition: all 0.4s ease;
    opacity: 0;
    content: attr(data-tooltip);
    background: #333;
    position: absolute;
    color: #fff;
    padding: 5px 10px;
    display: block;
    border-radius: 3px;
    bottom: 0;
    top: 0;
    z-index: 1;
    height: 20px;
    margin: auto;
    left: 120%;
  }
  &:hover {
    overflow: initial;
    &:after {
      opacity: 1;
    }
  }
}

.column-count-2 {
  column-count: 2;
}

.z {
  &-i-1 {
    z-index: 1;
  }
}

.min-w {
  &-350 {
    min-width: 350px;
  }
  &-900 {
    min-width: 900px;
  }
  &-100 {
    min-width: 100px;
  }
  &-140 {
    min-width: 140px;
  }
}

.min-h {
  &-300 {
    min-height: 300px;
  }
  &-90 {
    min-height: 90px;
  }
  &-162 {
    min-height: 162px;
  }
}

.m {
  &-auto {
    margin: auto;
  }
}

.max-w {
  &-100 {
    max-width: 100px;
  }
  &-180 {
    max-width: 180px;
  }
  &-280 {
    max-width: 280px;
  }
  &-350 {
    max-width: 350px;
  }
  &-370 {
    max-width: 370px;
  }
  &-400 {
    max-width: 400px;
  }
  &-500 {
    max-width: 500px;
  }
  &-588 {
    max-width: 588px;
  }
}

.opacity-effect {
  &:after {
    content: "";
    background: linear-gradient(to bottom, transparent, $black);
    z-index: 111;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.max-h {
  &-200 {
    max-height: 100px;
  }
}
.b {
  border: 1px solid $lightDark;
  &-dark {
    border: 1px solid $black;
  }
}

.bullet {
  display: inline-block;
  position: relative;
  max-width: 400px;

  i {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      & ~ .bullet-message {
        opacity: 1;
      }
    }
  }

  &-message {
    transition: all 0.4s;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    bottom: 0px;
    left: 25px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    max-width: 370px;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

.right {
  &-0 {
    right: 0;
  }
  &-10 {
    right: 10px;
  }
}

@media screen and (min-width: $sm) {
  .d-block-ms {
    display: block;
  }
}
