$blue: #6178ea;
$red: #f73b3b;
$acqua: #7ed5c4;
$white: #fff;
$black: #2e3039;
$gray: #6d6e72;
$silver: #dfe0e6;
$light: #dfe0e6;
$primary: #3276b5;
$danger: #f73b3b;
$success: #34b351;
$lightbrown: #d8cec2;
$theme: $primary;
$xs: 320px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$themeDark: darken($theme, 10%);
$blueDark: darken($blue, 10%);
$redDark: darken($red, 10%);
$acquaDark: darken($acqua, 10%);
$grayDark: darken($gray, 10%);
$silverDark: darken($silver, 10%);
$primaryDark: darken($primary, 10%);
$lightDark: darken($light, 10%);
$dangerDark: darken($danger, 10%);
$successDark: darken($success, 10%);
$whiteDark: darken($white, 10%);
$lightbrownDark: darken($lightbrown, 10%);

$themeLight: lighten($theme, 10%);
$blueLight: lighten($blue, 10%);
$redLight: lighten($red, 10%);
$acquaLight: lighten($acqua, 10%);
$blackLight: lighten($black, 10%);
$grayLight: lighten($gray, 10%);
$silverLight: lighten($silver, 10%);
$primaryLight: lighten($primary, 10%);
$lightLight: lighten($light, 10%);
$dangerLight: lighten($danger, 10%);
$successLight: lighten($success, 10%);
$lightbrownLight: lighten($lightbrown, 10%);
